<div id="navbar" class="flex justify-between h-12 py-2 px-5 text-center font-medium text-dark-gray">
    <div class="flex gap-5 my-auto"><p class="font-bold text-black text-2xl -my-2">Shortly</p><p class="hover:text-black cursor-pointer">Features</p><p class="hover:text-black cursor-pointer">Pricing</p><p class="hover:text-black cursor-pointer">Resources</p></div>
    <div class="flex gap-5 h-full"><button class="px-8 rounded-2xl hover:text-dark-cyan ">Login</button><button class="bg-cyan hover:bg-dark-cyan text-white px-8 rounded-2xl">Sign Up</button></div>
</div>