<div id="navbar" class="flex justify-between relative">
<div class="flex-col mt-24 w-[32rem]" style="margin-bottom: 200px;">
        <h1 class="text-7xl font-bold">More than just shorter links</h1>
        <div class="my-5 text-lg font-semibold text-dark-gray">Build your brand’s recognition and get detailed insights 
            on how your links are performing.</div>
        <div><button class="bg-cyan hover:bg-dark-cyan text-white text-2xl font-bold px-8 py-2 rounded-3xl scrollButton">Get Started</button></div>
    </div>
    <img src="/images/illustration-working.svg" alt="hero section" class="absolute flex right-0 mt-12 w-[600px]" style="margin-right: -200px;">
</div>