<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/output.css">
    <title>Document</title>
</head>
<body class="bg-green-300">
    <form action="/submit" method="POST">
        <input type="text" id="name" name="name" placeholder="Shorten a link here..." required><br><br>
        <button type="submit" class="btn">Shorten It!</button>
    </form>

    <% if(locals.shortURL) {%>
        <p>url var</p>
    <%}else{%>
        <p>url yok</p>
    <%}%>
    <% if(locals.error) {%>
        <p><%= error %></p>
    <%}else{%>
        <p>hata yok</p>
    <%}%>
</body>
</html>